
h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1em;
}
#map {
  width: 100%;
  height: 150px;
  margin-top: 10px;
}
input {
-webkit-user-select: auto;
}

.navbar-toggle {
  background-color: #fff;
  border:none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #3276b1;
}
